h1 {
    text-align: center;
    background-color: #e87f7f;
    color: white;
    font-family: "Segoe UI", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    text-align: center;
    font-family: "Segoe UI", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  font-family: "Segoe UI", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


ul {
    font-size: 18px;
    list-style-type: none;
    display: inline-block;
}

img {
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
  background-color: #F5F7FA;
  height: 60px;
  padding: 0 20px;
  font-family: "Segoe UI", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
  width: 100%;
}

nav ul li {
  display: inline-block;
}

nav ul li a:hover {
  background-color: #e87f7f;
  transform: translateY(-2px);
}

nav ul li a.active {
  background-color: #4FB0AE;
  color: #fff;
}

#featuredImage {
  display: block;    
  margin: 0 auto;   
}

figcaption {
  text-align: center;
}

.slides {
  display: flex;           
}

.slides img {
  width: 25%;
  height: 300px;
  object-fit: cover;       
}

#CASEL {
  display: block;    
  margin: 0 auto; 
}

#Lessons-Cards {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.card {
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
  padding: 16px;
  box-shadow: 2px 2px 6 px rgba(0,0,0,0.1);
}

.card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.Deck {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.cardflip {
  width: 400px;
  height: 400px;
  margin: 1rem auto;
  perspective: 1000px;
  cursor: pointer;
}

.card-inner {
  position: relative; 
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.cardflip:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 0.5rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-front {
  background: white;
  border: 1px solid #e5e7eb;
  z-index: 2;
  transform: rotateY(0deg);
}

.card-front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-back {
  background: #e87f7f;
  color: white;
  transform: rotateY(180deg);
  z-index: 1;
}

